<ion-content class="centered-content dark">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>
        This is the Title
      </ion-card-title>
      <ion-card-subtitle>
        I'm just the subtitle
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div style="height: fit-content;">
        <img src="\assets\img\Vel'Koz_art_2.jpg" alt="" />
      </div>
      <div style="margin-top: 0px;">
        <sub style="margin-top: 0px; color: purple;">aaa</sub>
      </div>

      <div class="text-div">
        <ion-text>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae
          sapiente deleniti neque aspernatur in voluptatibus sunt vel architecto
          inventore asperiores, dignissimos similique repudiandae animi ex
          debitis praesentium quasi laborum vero! Eius quidem ratione,
          reiciendis soluta temporibus ex corporis inventore adipisci dicta
          veritatis suscipit harum fugit culpa itaque atque! Dolorem, placeat?
        </ion-text>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-buttons style="justify-content: center;">
        
        <ion-button [routerLink]="['/aim-training']" routerLinkActive="root" >
          <ion-icon slot="start" name="game-controller"></ion-icon>
          Aim Practice
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-footer>
